@{
    ViewBag.Title = "Index";
}
<div class="well">
    <div class="col-md-12">
        <!--Tabla Aqui-->
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Mantenimiento</h3>
            </div>
            <div class="panel-body">
                Se podra tener un control de los mantenimientos requeridos por los equipos.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Averias</h3>
            </div>
            <div class="panel-body">
                Podran los usuarios reportar incovenientes con sus equipos.
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Reportes</h3>
            </div>
            <div class="panel-body">
                Los administradores podran tener reportes de los gastos generados por los usuarios.
            </div>
        </div>
    </div>
</div>





