@model IEnumerable<Karepro.Models.Mantenimiento>

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimientos actuales</h2>

<table class="table">
    <tr class="top">
        <th>
            Averia
        </th>
        <th>
            Tipo
        </th>
        <th>
            Urgencia
        </th>
        <th>
            Descripción
        </th>
        <th>
            Institución
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Averia.Descripcion)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institucion.Nombre)
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.17').each(function (){
            $(".17").css("background-color", "Green");
        });
        $('.18').each(function (){
            $(".18").css("background-color", "Yellow");
        });
        $('.19').each(function (){
            $(".19").css("background-color", "Orange");
        });
    });
</script>
