body{
			background: #fbf9f9;
		}
		img{
			width: 100%;
			height: auto;
		}
		.clear{
			clear: both;
		}
		section.logo > img {
			padding: 30px 0px;
			max-width: 300px;
		}
		article.form {
			max-width: 900px;
			margin: auto;
			background: #fff;
			border-bottom: 30px solid #cc3333;
			border-left: 1px solid rgba(247, 241, 241, 0.74);
			border-right: 1px solid rgba(247, 241, 241, 0.74);
		}
		article.form > h2 {
			text-align: center;
			color: #fff;
			padding: 18px 0;
			font-size: 32px;
			font-weight: bold;
			background: #cc3333;
		}
		div#user, div#form {
			float: left;
			min-height: 100px;
		}
		div#user{
			width: 30%;
		}
		div#form{
			width: 70%;
		}
		
		@media (max-width: 800px){
			div#user{
				display: none;
			}
			div#form{
				width: 100%;
			}
		}
        input{
            color:  #5f5f5f;
            box-sizing: border-box;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
            padding: 12px 18px;
            border: 1px solid #dbdbdb;
            margin: 20px;
            width: 80%;
	    }

        input.input{
            color:  #5f5f5f;
            box-sizing: border-box;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
            padding: 12px 18px;
            border: 1px solid #dbdbdb;
            margin: 20px;
            width: 80%;
        }
	    textarea{
            color:  #5f5f5f;
            box-sizing: border-box;
            width: 240px;
            height: 80px;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
            font: normal 13px sans-serif;
            padding: 12px;
            border: 1px solid #dbdbdb;
            resize: vertical;
        }